ISE.tar
Gowin.tar.gz
libftd2xx-x86_64.tgz
build/
__pycache__/
*pyc
venv/



!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!build.sc
!README.md
build/

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
.vscode/